In [1]:
import numpy as np
from pathlib import Path
import dask.dataframe as dd

In [2]:
dfConsorcio = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/consorcios.csv')

In [3]:
dfOfertas = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/ofertas.csv')

In [54]:
#Se tuvo que limpiar la columna direccion, cedula proveedor, nombre proveedor
dfProveedores = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/proveedores2.csv', dtype={'codigo_postal': 'string'})

In [5]:
dfRepresentantes = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/representantes.csv')

In [6]:
dfLineasAdjudicadas = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/lineasadjudicadas.csv')

In [7]:
dfProcedimientos = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/procedimientos.csv')

In [8]:
dfLineasProc = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/lineasproc.csv')

In [9]:
dfLineasOfertadas = dd.read_csv('D:/DataChallenge2024/BD/TBRelacional/lineasofertadas.csv')

In [10]:
dfProcedOfertas = dd.merge(dfProcedimientos, dfOfertas, how="inner", on=["nro_sicop"])
dfProcedOfertas = dfProcedOfertas[dfProcedOfertas['fecha_invitacion'] > "2018-01-01"]

In [11]:
# Existen proveedores con un mismo nombre pero con diferente cedula, es correcto?
dfProveedoresAgrupado = dfProveedores.groupby(['nombre_proveedor']).size().reset_index()
dfProveedoresAgrupado = dfProveedoresAgrupado.rename(columns={0: 'count'})
dfProveedoresAgrupado[(dfProveedoresAgrupado['count'] > 1)].compute()

                                        nombre_proveedor  count
1123   AENSA ACADEMIA DE ENSEÑANZA AERONAUTICA SOCIED...      2
2490                           ALVARO HERNANDEZ GONZALEZ      2
2846                          ANA MARIA MORALEDA MORALES      2
3284                      ANGEL FRANCISCO PEÑA CHAVARRIA      2
3466                       ANYELO SAMIR RODRIGUEZ GARCIA      2
3598   ARENDAL SOCIEDAD DE RESPONSABILIDAD LIMITADA D...      2
4201                  ASOCIACION DE ESTUDIOS IDEOLOGICOS      2
4517                           AURA MARINA BONILLA BRAVO      2
6130                        CARLOS DAVID DUITAMA MAYORGA      2
6473                       CARLOS OMAR ALTAMIRANO ZAMORA      2
8965   CONSULTORIAS Y DESARROLLOS PROFESIONALES INTER...      2
8978            CONTIMACA DE COSTA RICA SOCIEDAD ANONIMA      2
10105                        DANESSA MARIEL UBEDA PINEDA      2
11145                          DIEGO MANUEL BORGE URBINA      2
11619    DOGER TECHNOLOGY DE COSTA RICA SOCIEDAD ANONIMA      2
12648                    ELECTROTECNICA SOCIEDAD ANONIMA      2
13111                    ENTORNO LIMPIO SOCIEDAD ANONIMA      2
13262                                     ERICH UTSCH AG      2
15001                     FRANCISCO DE LA PEÑA FERNANDEZ      2
15192                  FREDDY ALEXANDER HIDALGO TORREJON      2
16309                             GILBERTO VARGAS VARGAS      2
16571                   GLORIELA MARIA VILLALOBOS TORRES      2
16715                  GRACIELA DEL CARMEN TUCKLER MEJIA      2
18264                              HENRY SOLIS RODRIGUEZ      2
18361                             HERNANDO DURAN CAMACHO      2
22172                   JORGE ARTURO FERNANDEZ RODRIGUEZ      2
23709                       JUAN GABRIEL CHAVEZ BARAHONA      2
23756                              JUAN JOSE MONGE ROJAS      2
26292                       LUIS DIEGO QUESADA RODRIGUEZ      2
26745                        LUZ STELLA CORDON HERNANDEZ      2
26854                               MABEY BRIDGE LIMITED      2
27291  MAQUINARIA Y EQUIPO PESADO K & M SOCIEDAD DE R...      2
31804                     OSWALDO ANTONIO ROSAS MARQUINA      2
36232                  SERIVA HOLDINGS INTERNATIONAL INC      2
36343        SERVICIO DE VIAJEROS SUIZA SOCIEDAD ANONIMA      2
36515   SERVICIOS EMPRESARIALES STILLER SOCIEDAD ANONIMA      2
40020                  VICENTE JAVIER RODRIGUEZ TALAVERA      2
40264                                VINICIO ROJAS ARIAS      2
40642                           WENDY MICHEL CRUZ RIVERA      2

In [12]:
# Existen fechas de Presentacion de Oferta con valor Null, esto es correcto?
dfProcedOfertas[dfProcedOfertas["fecha_presenta_oferta"].isnull()].compute()

Empty DataFrame
Columns: [nro_sicop, cedula_institucion, fecha_publicacion, fecha_invitacion, fecha_inicio_recepcion, fecha_cierre_recepcion, fecha_apertura, fecha_limite_recursos, nro_procedimiento, cod_unidad_compra, nombre_unidad_compra, tipo_procedimiento, modalidad_procedimiento, excepcion_cd, descripcion, pago_adelantado_pymes, nro_oferta, cedula_proveedor, fecha_presenta_oferta, tipo_oferta, nro_consorcio, elegible, estado]
Index: []

[0 rows x 23 columns]

In [13]:
# Existen tipos de ofertas con valores null y llamado Consorcio inscrito.
dfProcedOfertas[~dfProcedOfertas["tipo_oferta"].isin(['Acuerdo Consorcial', 'Conjunta', 'Individual', 'Puja subasta'])].compute()

,nro_sicop,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,excepcion_cd,descripcion,pago_adelantado_pymes,nro_oferta,cedula_proveedor,fecha_presenta_oferta,tipo_oferta,nro_consorcio,elegible,estado
0,20220402464,4000042147,2022-04-29 08:01:00.000,2022-04-29 08:01:01.000,2022-04-29 08:00:00.000,2022-05-05 08:00:00.000,2022-05-05 08:01:00.000,NaN,2022CD-000006-0001102315,2315,...,Contratación directa por escasa cuantía (art.2...,Compra de Equipos Médicos para el II Nivel de ...,N,D20220504173327214316517072073990,3101142174,2022-05-04 00:00:00.000,NaN,NaN,Sí,Presentada

In [14]:
dfProcedOfertasLinOfertadas = dd.merge(dfProcedOfertas, dfLineasOfertadas, how='inner', on=["nro_oferta"])

In [15]:
# Revisar: Hay tipos de moneda con el valor XXX o Null
dfProcedOfertasLinOfertadas[~dfProcedOfertasLinOfertadas["tipo_moneda"].isin(['CRC', 'USD', 'EUR', 'GBP'])].compute()

,nro_sicop_x,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,codigo_producto,cantidad_ofertada,precio_unitario_ofertado,tipo_moneda,descuento,iva,otros_impuestos,acarreos,tipo_cambio_crc,tipo_cambio_dolar
0,20190902776,4000042143,2019-09-24 15:00:10.000,2019-09-24 15:00:10.000,2019-09-24 16:00:00.000,2019-09-26 14:00:00.000,2019-09-26 14:00:00.000,NaN,2019CD-000091-0015500001,1,...,821015049208739300000013,1.00,400000.0,HKD,0.0,0.0,0.0,0.0,585.43,7.8383
1,20200300581,3007111691,2020-03-05 13:55:50.000,2020-03-05 13:55:50.000,2020-03-05 14:00:00.000,2020-03-05 14:45:00.000,2020-03-05 14:46:00.000,NaN,2020CD-000001-0011200001,1,...,501618149200568700000016,1.00,888.0,MXN,0.0,0.0,0.0,0.0,578.08,19.7404
2,20220301319,4000042147,2022-03-17 07:31:00.000,2022-03-17 07:31:25.000,2022-03-18 07:00:00.000,2022-06-07 08:59:00.000,2022-06-07 09:00:00.000,2022-05-24 16:00:00.000,2022LN-000010-0001101142,1142,...,421516249230109600000001,5250.00,32985.0,JPY,0.0,0.0,0.0,0.0,688.09,132.5700
3,20240112960,4000042147,2024-01-19 09:00:00.000,2024-01-19 09:00:59.000,2024-01-22 07:00:00.000,2024-02-19 09:59:00.000,2024-02-19 10:00:00.000,2024-01-24 23:59:00.000,2024LE-000001-0001102499,2499,...,701117039214708000000002,6834.35,NaN,XXX,NaN,NaN,NaN,NaN,518.28,NaN
4,20240112960,4000042147,2024-01-19 09:00:00.000,2024-01-19 09:00:59.000,2024-01-22 07:00:00.000,2024-02-19 09:59:00.000,2024-02-19 10:00:00.000,2024-01-24 23:59:00.000,2024LE-000001-0001102499,2499,...,701117039214708000000002,9530.60,NaN,XXX,NaN,NaN,NaN,NaN,518.28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,20240215810,3014042066,2024-02-27 13:41:47.000,2024-02-27 13:41:47.000,2024-02-27 14:00:00.000,2024-03-04 12:00:00.000,2024-03-04 12:00:00.000,NaN,2024PX-000006-0000700001,1,...,151215019209937100000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,518.15,NaN
86,20240215810,3014042066,2024-02-27 13:41:47.000,2024-02-27 13:41:47.000,2024-02-27 14:00:00.000,2024-03-04 12:00:00.000,2024-03-04 12:00:00.000,NaN,2024PX-000006-0000700001,1,...,781801089200159400000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,518.15,NaN
87,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721700000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN
88,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721600000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN
89,20240214562,3014042093,2024-02-14 15:55:03.000,2024-02-14 15:55:03.000,2024-02-15 08:00:00.000,2024-02-21 08:30:00.000,2024-02-21 08:31:00.000,2024-02-16 23:59:00.000,2024LD-000004-0016800001,1,...,471315029232728200000005,15.00,NaN,XXX,NaN,NaN,NaN,NaN,516.82,NaN

In [16]:
# Revisar: Hay tipos de moneda con el valor XXX o Null
dfProcedOfertasLinOfertadas[~dfProcedOfertasLinOfertadas["tipo_moneda"].isin(['CRC', 'USD', 'EUR', 'GBP']) & (dfProcedOfertasLinOfertadas["nro_procedimiento"] == '2024LE-000001-0018962008')].compute()

,nro_sicop_x,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,codigo_producto,cantidad_ofertada,precio_unitario_ofertado,tipo_moneda,descuento,iva,otros_impuestos,acarreos,tipo_cambio_crc,tipo_cambio_dolar
0,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721700000001,1.0,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN
1,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721600000001,1.0,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN

In [17]:
# Existen Lineas Ofertadas que tienen como valor null el precio unitario ofertado aun cuando haya una cantidad ofertada
dfProcedOfertasLinOfertadas[dfProcedOfertasLinOfertadas["precio_unitario_ofertado"].isnull() & (dfProcedOfertasLinOfertadas["cantidad_ofertada"] != 0.0)].compute()

,nro_sicop_x,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,codigo_producto,cantidad_ofertada,precio_unitario_ofertado,tipo_moneda,descuento,iva,otros_impuestos,acarreos,tipo_cambio_crc,tipo_cambio_dolar
0,20240112960,4000042147,2024-01-19 09:00:00.000,2024-01-19 09:00:59.000,2024-01-22 07:00:00.000,2024-02-19 09:59:00.000,2024-02-19 10:00:00.000,2024-01-24 23:59:00.000,2024LE-000001-0001102499,2499,...,701117039214708000000002,6834.35,NaN,XXX,NaN,NaN,NaN,NaN,518.28,NaN
1,20240112960,4000042147,2024-01-19 09:00:00.000,2024-01-19 09:00:59.000,2024-01-22 07:00:00.000,2024-02-19 09:59:00.000,2024-02-19 10:00:00.000,2024-01-24 23:59:00.000,2024LE-000001-0001102499,2499,...,701117039214708000000002,9530.60,NaN,XXX,NaN,NaN,NaN,NaN,518.28,NaN
2,20240112960,4000042147,2024-01-19 09:00:00.000,2024-01-19 09:00:59.000,2024-01-22 07:00:00.000,2024-02-19 09:59:00.000,2024-02-19 10:00:00.000,2024-01-24 23:59:00.000,2024LE-000001-0001102499,2499,...,701117039214708000000002,17798.62,NaN,XXX,NaN,NaN,NaN,NaN,518.28,NaN
3,20240214360,3007196350,2024-02-08 14:28:10.000,2024-02-08 14:28:10.000,2024-02-08 14:30:00.000,2024-02-16 10:00:00.000,2024-02-16 10:00:00.000,2024-02-12 00:00:00.000,2024LD-000042-0001700001,1,...,801117019203206100000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,519.51,NaN
4,20240214360,3007196350,2024-02-08 14:28:10.000,2024-02-08 14:28:10.000,2024-02-08 14:30:00.000,2024-02-16 10:00:00.000,2024-02-16 10:00:00.000,2024-02-12 00:00:00.000,2024LD-000042-0001700001,1,...,801117019203206100000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,519.51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,20240215810,3014042066,2024-02-27 13:41:47.000,2024-02-27 13:41:47.000,2024-02-27 14:00:00.000,2024-03-04 12:00:00.000,2024-03-04 12:00:00.000,NaN,2024PX-000006-0000700001,1,...,151215019209937100000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,518.15,NaN
85,20240215810,3014042066,2024-02-27 13:41:47.000,2024-02-27 13:41:47.000,2024-02-27 14:00:00.000,2024-03-04 12:00:00.000,2024-03-04 12:00:00.000,NaN,2024PX-000006-0000700001,1,...,781801089200159400000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,518.15,NaN
86,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721700000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN
87,20240316734,3007556085,2024-03-07 13:41:45.000,2024-03-07 13:41:45.000,2024-03-08 08:00:00.000,2024-04-04 10:00:00.000,2024-04-04 10:05:00.000,2024-03-12 17:00:00.000,2024LE-000001-0018962008,62008,...,721015119239721600000001,1.00,NaN,XXX,NaN,NaN,NaN,NaN,505.99,NaN
88,20240214562,3014042093,2024-02-14 15:55:03.000,2024-02-14 15:55:03.000,2024-02-15 08:00:00.000,2024-02-21 08:30:00.000,2024-02-21 08:31:00.000,2024-02-16 23:59:00.000,2024LD-000004-0016800001,1,...,471315029232728200000005,15.00,NaN,XXX,NaN,NaN,NaN,NaN,516.82,NaN

In [18]:
dfProcedOfertasLinOfertadas[dfProcedOfertasLinOfertadas['nro_consorcio'].isnull()][['cedula_proveedor', 'nro_consorcio']].compute()

        cedula_proveedor  nro_consorcio
0             3101661822            NaN
1              303280204            NaN
2              303280204            NaN
3             9000010558            NaN
4             9000010558            NaN
...                  ...            ...
340922        3101291924            NaN
340923        3101291924            NaN
340924        3101291924            NaN
340925        3101291924            NaN
340926        3101291924            NaN

[2724603 rows x 2 columns]

In [19]:
dfProcedOfertasLinOfertadas[dfProcedOfertasLinOfertadas['nro_consorcio'].notnull()][['cedula_proveedor', 'nro_consorcio']].compute()

        cedula_proveedor  nro_consorcio
447           3101575276   1.201800e+09
448           3101575276   1.201800e+09
449           3101575276   1.201800e+09
840            111460029   1.201800e+09
841            111460029   1.201800e+09
...                  ...            ...
345279        3101436575   1.202301e+09
345492        3101310098   1.202100e+09
345493        3101310098   1.202100e+09
345546        3101535666   1.202101e+09
346055        3101096527   1.202301e+09

[43827 rows x 2 columns]

In [52]:
print(dfProveedores['codigo_postal'].dtypes)

string

In [55]:
dfProveedores['codigo_postal'] = dfProveedores['codigo_postal'].fillna('').astype('string')

In [56]:
dfProveedores.compute()

,cedula_proveedor,nombre_proveedor,tipo_proveedor,tamano_proveedor,fecha_constitucion,fecha_expiracion,direccion,codigo_postal,provincia,canton,distrito
0,3002667850,ASOCIACION COSTARRICENCE PARA EL ESTUDIO E INT...,Nacional Jurídico,Grande,22/3/2013,31/1/2026,Los Yoses. Del Automercado 300 sur 100 oeste y...,11501,San Jose,Montes de Oca,San Pedro
1,3101654585,GRUPO ALFA NOVA SOCIEDAD ANONIMA,Nacional Jurídico,Grande,17/2/2012,17/2/2112,ALAJUELA CENTRO CALLE MESA DIAGONAL REPUESTOS ...,20101,Alajuela,Alajuela,Alajuela
2,304260976,TOMAS ADOLFO BRENES MADRIGAL,Nacional Físico,Pequeña,NaN,NaN,Barrio Alto Cruz,30501,Cartago,Turrialba,Turrialba
3,3102615222,THE TRAVELSHOP CENTER LIMITADA,Nacional Jurídico,Pequeña,18/8/2010,18/8/2109,500 oeste Rest Tony Roma's San Rafael de Escazú,10203,San Jose,Escazu,San Rafael
4,3101215441,DEPOSITO IRAZU LOS HEREDIANOS SOCIEDAD ANONIMA,Nacional Jurídico,Grande,7/1/1998,7/1/2097,San francisco,40103,Heredia,Heredia,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...
41479,117830843,STEVEN ALBERTO MONTERO RUIZ,Nacional Físico,Grande,NaN,NaN,GRANADILLA ESTE CURRIDABAT CONDOMINIO CIPRESES...,11802,San Jose,Curridabat,Granadilla
41480,113300795,ANGIE VANESSA ARIAS SOTO,Nacional Físico,Pequeña,NaN,NaN,800 Oeste de la Univ Fidelitas Cond Francisco ...,40103,Heredia,Heredia,San Francisco
41481,3101657980,TOTAL PARTS GUANACASTE SOCIEDAD ANONIMA,Nacional Jurídico,Mediana,23/2/2012,23/2/2111,75 metro oeste de la municipalidad de Liberia,50101,Guanacaste,Liberia,Liberia
41482,114440080,MELISSA EDITH VALVERDE HERNANDEZ,Nacional Físico,Microemprendedor,NaN,NaN,Del centro educativo Isabel La Católica 400m N...,10904,San Jose,Santa Ana,Uruca
41483,3006495261,FUNDACION MENTE SANA,Nacional Jurídico,Grande,30/4/2007,NaN,150 Noroeste de Plaza Mayor,10109,San Jose,San Jose,Pavas

In [62]:
dfProcedOfertasLinOfertadasProv = dd.merge(dfProcedOfertasLinOfertadas, dfProveedores, how='inner', on=["cedula_proveedor"])

In [58]:
dfProcedOfertasLinOfertadasProv.head()

,nro_sicop_x,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,nombre_proveedor,tipo_proveedor,tamano_proveedor,fecha_constitucion,fecha_expiracion,direccion,codigo_postal,provincia,canton,distrito
0,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,CORPORACION REPREINSA SOCIEDAD ANONIMA,Nacional Jurídico,Pequeña,12/9/2012,12/9/2111,Del centro comercial de Lomas del Sol 30 mts sur,11801,San Jose,Curridabat,Curridabat
1,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,LUIS JAVIER BRENES AVILA,Nacional Físico,Pequeña,NaN,NaN,Pozos,10903,San Jose,Santa Ana,Pozos
2,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,LUIS JAVIER BRENES AVILA,Nacional Físico,Pequeña,NaN,NaN,Pozos,10903,San Jose,Santa Ana,Pozos
3,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,BISUTERIA DRAGON ROJO S.A,Extranjero Jurídico,Pequeña,NaN,NaN,PANAMA,,NaN,NaN,NaN
4,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,BISUTERIA DRAGON ROJO S.A,Extranjero Jurídico,Pequeña,NaN,NaN,PANAMA,,NaN,NaN,NaN

In [63]:
dfProcedOfertasLinOfertadasProvRepre = dd.merge(dfProcedOfertasLinOfertadasProv, dfRepresentantes, how='inner', on=["cedula_proveedor"])

In [64]:
dfProcedOfertasLinOfertadasProvRepre.head()

,nro_sicop_x,cedula_institucion,fecha_publicacion,fecha_invitacion,fecha_inicio_recepcion,fecha_cierre_recepcion,fecha_apertura,fecha_limite_recursos,nro_procedimiento,cod_unidad_compra,...,direccion,codigo_postal,provincia,canton,distrito,cedula_representante,nombre_representante,tipo_representante,fecha_inscripcion,fecha_fin_presentacion
0,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,Del centro comercial de Lomas del Sol 30 mts sur,11801,San Jose,Curridabat,Curridabat,116960086,ESTEBAN JESUS VADO MONGE,Representantes Legales,2021-10-18 09:21:56.000,NaN
1,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,Del centro comercial de Lomas del Sol 30 mts sur,11801,San Jose,Curridabat,Curridabat,119470176,GABIREL VADO MONGE,Representantes Legales,2023-11-22 14:44:21.000,NaN
2,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,PANAMA,,NaN,NaN,NaN,8000001039,SELMA GALBRAITH BULTRON,Representantes Legales,2022-05-23 13:46:48.000,NaN
3,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,PANAMA,,NaN,NaN,NaN,8000001039,SELMA GALBRAITH BULTRON,Representantes Legales,2022-05-23 13:46:48.000,NaN
4,20220601124,3014042058,2022-06-09 14:40:21.000,2022-06-09 14:40:21.000,2022-06-09 15:00:00.000,2022-06-13 14:00:00.000,2022-06-13 14:01:00.000,NaN,2022CD-000566-0015499999,99999,...,PANAMA,,NaN,NaN,NaN,8000001039,SELMA GALBRAITH BULTRON,Representantes Legales,2022-05-23 13:46:48.000,NaN